<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File"
				fileName="${LogDirectory}\forestspirit.log"
				archiveFileName="${LogDirectory}\forestspirit.{#}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString:maxInnerExceptionLevel=5}"/>
  </targets>

  <rules>
    <logger name="HydraNet" minlevel="Info" writeTo="logfile" final="true"/>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>