<body>


<div class = "product">

  <div class="product_img">
    <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria">
  </div>

  <div class="product_info">
    <h3>PODUKT 1</h3>
    <p>5 opinii</p>
    <h4>123 zł</h4>
    <label for="smak">Wybierz smak: </label>

    <select name="smaki" id="smaki">
      <option value="gruszka">Gruszka</option>
      <option value="kawa">Kawa</option>
      <option value="wiśnia">Wiśnia</option>
      <option value="morela">Morela</option>
    </select>
    <hr>
    <p>dziaba dziaba mądry opis alkoholu</p>
    <hr>
    <button>dodaj do koszyka</button>
  </div>

</div>

<div class="similar">
  <h3>Podobne produkty</h3>
  <div class="similar_product" style="display:inline-block;">
    <div class="similar_img" style="display:inline-block;">
      <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria">
    </div>
    <div class="similar_text" style="display:inline-block;">
      <h5>PRODUKT 1</h5>
      <p>100 zł</p>
    </div>
  </div>
  <div class="similar_product" style="display:inline-block;">
    <div class="similar_img" style="display:inline-block;">
      <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria">
    </div>
    <div class="similar_text" style="display:inline-block;">
      <h5>PRODUKT 2</h5>
      <p>100 zł</p>
    </div>
  </div>
  <div class="similar_product" style="display:inline-block;">
    <div class="similar_img" style="display:inline-block;">
      <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria">
    </div>
    <div class="similar_text" style="display:inline-block;">
      <h5>PRODUKT 3</h5>
      <p>100 zł</p>
    </div>
  </div>

</div>


<div class="opinion">
  <h3>OPINIE</h3>
  <table >
    <col style="width:10%">
    <col style="width:20%">
    <col style="width:70%">
    <tr>
      <td>
        <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria">
      </td>
      <td>
        <p>KACPER BOCH</p>
        <p>11.11.2020</p>
      </td>
      <td>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eum maiores aliquid non. Ad eveniet fugit cupiditate ipsum repellat cum, ullam quisquam esse in magnam laudantium, explicabo impedit doloribus id?</p>
      </td>
    </tr>
    <tr>
      <td>
        <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria">
      </td>
      <td>
        <p>KAMIL DUDA</p>
        <p>12.12.2018</p>
      </td>
      <td>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eum maiores aliquid non. Ad eveniet fugit cupiditate ipsum repellat cum, ullam quisquam esse in magnam laudantium, explicabo impedit doloribus id?</p>
      </td>
    </tr>
  </table>
</div>


</body>
