<div class="panel" style="margin-top: 150px;">
  <div class="people" >
    <div class="person d-flex justify-content-between" *ngFor="let customer of customers; index as i">
      <div class="d-flex justify-content-start">
        <img src={{customer.picture}}>
        <div class="data">
          <div class="name">{{customer.nazwa}}</div>
          <div class="position">{{customer.opis}}</div>
          <div class="workplace">{{customer.adres}}</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
  </div>
</div>
