<div class="panel">
  <div class="people">

    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/480.png">
        <div class="data">
          <div class="name">Kamil Duda</div>
          <div class="position">nowy klient</div>
          <div class="workplace">tutaj adres i guess</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/480.png">
        <div class="data">
          <div class="name">Kamil Duda</div>
          <div class="position">nowy klient</div>
          <div class="workplace">tutaj adres i guess</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/480.png">
        <div class="data">
          <div class="name">Kamil Duda</div>
          <div class="position">nowy klient</div>
          <div class="workplace">tutaj adres i guess</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/480.png">
        <div class="data">
          <div class="name">Kamil Duda</div>
          <div class="position">nowy klient</div>
          <div class="workplace">tutaj adres i guess</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/480.png">
        <div class="data">
          <div class="name">Kamil Duda</div>
          <div class="position">nowy klient</div>
          <div class="workplace">tutaj adres i guess</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/480.png">
        <div class="data">
          <div class="name">Kamil Duda</div>
          <div class="position">nowy klient</div>
          <div class="workplace">tutaj adres i guess</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/480.png">
        <div class="data">
          <div class="name">Kamil Duda</div>
          <div class="position">nowy klient</div>
          <div class="workplace">tutaj adres i guess</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/480.png">
        <div class="data">
          <div class="name">Kamil Duda</div>
          <div class="position">nowy klient</div>
          <div class="workplace">tutaj adres i guess</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/480.png">
        <div class="data">
          <div class="name">Kamil Duda</div>
          <div class="position">nowy klient</div>
          <div class="workplace">tutaj adres i guess</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/480.png">
        <div class="data">
          <div class="name">Kamil Duda</div>
          <div class="position">nowy klient</div>
          <div class="workplace">tutaj adres i guess</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/480.png">
        <div class="data">
          <div class="name">Kamil Duda</div>
          <div class="position">nowy klient</div>
          <div class="workplace">tutaj adres i guess</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/customers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>

  </div>
</div>
