<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
  <hr class ="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
  <ul class="d-flex justify-content-center">
    <li ><a [routerLink]="['/admin/places']">Przeglądaj</a></li>
    <li><a [routerLink]="['/admin/places-add']">Dodaj placówkę</a></li>
    <li><a [routerLink]="['/admin/stuff']">Sprzęt</a></li>
    <li><a [routerLink]="['/admin/stuff-add']">Dodaj sprzęt</a></li>
    <li><a [routerLink]="['/admin/supplies']">Zaopatrzenie</a></li>
    <li><b><a [routerLink]="['/admin/supplies-add']">Dodaj zaopatrzenie</a></b></li>
  </ul>
  <hr class ="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>

<div class="panel" style="margin-top: 150px;">

  <div class="separator"> </div>
  <h2 style="text-align: center; color: white;">Dodawanie Zaoptrzenia</h2>
  <div class="forms">
    <form>
        <div class="form-group">
          <label for="picture">Zdjęcie:</label>
          <input type="file" class="form-control-file" id="picture">
        </div>
        <div class="form-group">
          <label for="name">Nazwa:</label>
          <input type="text" class="form-control" id="applience_name">
        </div>
        <div class="form-group">
          <label for="quantity">Ilośc:</label>
          <input type="text" class="form-control" id="quantity">
        </div>
        <div class="form-group">
          <label for="date">Data:</label>
          <input type="text" class="form-control" id="date">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-dark">Dodaj</button>
        </div>
    </form>
  </div>

</div>
