<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
	<hr class ="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
  <ul class="d-flex justify-content-center">
    <li><a [routerLink]="['/admin/issues']">Moje</a></li>
    <li><a [routerLink]="['/admin/issues-received']">Przysłane</a></li>
    <li><b><a [routerLink]="['/admin/issues-add']">Dodaj</a></b></li>
	</ul>
	<hr class ="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>

<div class="panel" style="margin-top: 150px;">

  <div class="separator"> </div>
  <h2 style="text-align: center; color: white;">Dodaj Wniosek</h2>
  <div class="forms">
    <form>
        <div class="form-group">
          <label for="file">Plik:</label>
          <input type="file" class="form-control-file" id="file">
        </div>
        <div class="form-group">
          <label for="name">Nazwa:</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-dark">Dodaj</button>
        </div>
    </form>
  </div>

</div>
