.product{
  display: grid;
  padding: 10px;
  grid-template-columns: 450px 1fr;
  gap: 40px;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
}


.product_img img {
  max-height: auto;
  max-width: 100%;
  padding: 10px;
}

.product_info{
  padding: 10px;
}



.button {
  background-color: var(--main-color);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 16px;
}

.button:hover {
  background-color: var(--primary-color);
  color: white;
}

.button:after{
  background-color: var(--secondary-color);
  color: white;
}


.form-control{
  border-color: var(--main-color);
}


@media only screen and (max-width: 768px) {
  .product {
    display: block;
  }
}
