<div class="product_img">
  <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria">
</div>

<div class="product_info">
  <h3>PODUKT 1</h3>
  <p>5 opinii</p>
  <h4>123 zł</h4>
  <label for="smak">Wybierz smak: </label>

  <select name="smaki" id="smaki" class="form-control">
    <option value="" disabled selected>Wybierz</option>
    <option value="gruszka">Gruszka</option>
    <option value="kawa">Kawa</option>
    <option value="wiśnia">Wiśnia</option>
    <option value="morela">Morela</option>
  </select>
  <hr>
  <p>dziaba dziaba mądry opis alkoholu</p>
  <hr>
  <button class="button">dodaj do koszyka</button>
</div>
