<div class="product">
<div class="product_img">
  <img src={{produkt.zdjecie}} class="center" alt="zdjecie_kategoria">
</div>

<div class="product_info">
  <h3>{{produkt.nazwa}}</h3>
  <p>{{produkt.opinionCount}} opinii</p>
  <p>ocena: <app-star-system [score]="produkt.ocena"></app-star-system></p>
  <h4>{{produkt.cena}} zł</h4>
  <label for="smak">Wybierz smak: </label>

  <select name="smaki" id="smaki" class="form-control">
    <option value="" disabled selected>Wybierz</option>
    <option *ngFor="let smak of smak;index as i" value={{smak}}>
      {{smak}}
    </option>
  </select>
  <hr>
  <p>{{produkt.opis}}</p>
  <hr>
  <button class="button">dodaj do koszyka</button>
</div>
</div>



