<div class="secondary_menu">
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  <ul class="d-flex justify-content-center">
    <li style="background-color: #ddd; border-radius: 10px;"><a href="przegladaj.html">Przeglądaj</a></li>
    <li style="border-right: none;"><a href="dodaj.html">Dodaj</a></li>
  </ul>
</div>
<div class="panel">

  <div class="separator"> </div>
  <div class="forms">
    <form>
        <div class="form-group">
          <label for="picture">Zdjęcie:</label>
          <input type="file" class="form-control-file" id="picture">
        </div>
        <div class="form-group">
          <label for="name">Nazwa:</label>
          <input type="text" class="form-control" id="name" value="Duch lasu">
        </div>
        <div class="form-group">
          <label for="ingredients">Składniki:</label>
          <input type="text" class="form-control" id="ingredients" value="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
        </div>
        <div class="form-group">
          <label for="price">Cena:</label>
          <input type="text" class="form-control" id="price" value="24.99">
        </div>
        <div class="form-group">
          <label for="quantity">Ilość:</label>
          <input type="text" class="form-control" id="quantity" value="102">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-dark">Wprowadź zmiany</button>
        </div>
    </form>
  </div>

</div>
