.row{
  width: 100%;
}
.cart-body{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 40px;
  margin-bottom: 80px;
}
.cart-header{
  margin-top: 10%;
  margin-bottom: 15%;
  background-color: #ffffff;
  opacity: 95%;
  font-size: 21px;

  text-align: center;
}

.stage-title{
  padding-top: 10%;
  padding-bottom: 25%;
}
.line hr{
  margin:0;
}

.horisontal-highlight {
  opacity: 1;
	height: 2px;
  color:var(--main-color);
	border: 3px solid var(--main-color);
}
.line{
  padding: 0;
  height: 0;
}

.continue{
  width: 182px;
  height: 41px;
  background: #355723;
  color: #ffffff;
  font-size: 18px;
  margin-left: 6rem;

}

.cancel{
width: 182px;
height: 41px;
background: #ebebeb;
color: #355723;
font-size: 18px;
margin-left: 5rem;
}
