<body>
  <div class="header">
    <h1>Poczuj bliskość natury!</h1>
    <hr>
    <form>
      <input type="search" id="query" name="q" placeholder="Szukaj...">
      <button>Szukaj</button>
    </form>
  </div>

  <div class="categories">
    <h2>Kategorie</h2>
    <p>dziaba dziaba mądre rzeczy dziaba dziaba</p>

    <div class="row">
      <div class="column">
        <div class="container">
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
          <div class="overlay">
            <div class="text">WSZYSTKO</div>
          </div>
        </div>
        <p>WSZYSTKO</p>
      </div>
      <div class="column">
        <div class="container">
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
          <div class="overlay">
            <div class="text">ALKOHOL</div>
          </div>
        </div>
        <p>ALKOHOL</p>
      </div>
      <div class="column">
        <div class="container">
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
          <div class="overlay">
            <div class="text">ALKOHOL 0%</div>
          </div>
        </div>
        <p>ALKOHOL 0%</p>
      </div>
      <div class="column">
        <div class="container">
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
          <div class="overlay">
            <div class="text">AKCESORIA</div>
          </div>
        </div>
        <p>AKCESORIA</p>
      </div>
      <div class="column">
        <div class="container">
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
          <div class="overlay">
            <div class="text">ZESTAWY PREZENTOWE</div>
          </div>
        </div>
        <p>ZESTAWY PREZENTOWE</p>
      </div>
    </div>
  </div>


  <div class="list" width="100%">
    <app-product-list></app-product-list>
  </div>


</body>
