<body>
  <div class="header">
    <h1>Poczuj bliskość natury!</h1>
    <hr>
    <form>
      <input type="search" id="query" name="q" placeholder="Szukaj...">
      <button>Szukaj</button>
    </form>
  </div>

  <div class="categories">
    <h2>Kategorie</h2>
    <p>dziaba dziaba mądre rzeczy dziaba dziaba</p>

    <div class="row">
      <div class="column">
        <div class="container">
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
          <div class="overlay">
            <div class="text">WSZYSTKO</div>
          </div>
        </div>
        <p>WSZYSTKO</p>
      </div>
      <div class="column">
        <div class="container">
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
          <div class="overlay">
            <div class="text">ALKOHOL</div>
          </div>
        </div>
        <p>ALKOHOL</p>
      </div>
      <div class="column">
        <div class="container">
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
          <div class="overlay">
            <div class="text">ALKOHOL 0%</div>
          </div>
        </div>
        <p>ALKOHOL 0%</p>
      </div>
      <div class="column">
        <div class="container">
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
          <div class="overlay">
            <div class="text">AKCESORIA</div>
          </div>
        </div>
        <p>AKCESORIA</p>
      </div>
      <div class="column">
        <div class="container">
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
          <div class="overlay">
            <div class="text">ZESTAWY PREZENTOWE</div>
          </div>
        </div>
        <p>ZESTAWY PREZENTOWE</p>
      </div>
    </div>
  </div>


  <div class="list" width="100%">
    <table >
      <col style="width:10%">
      <col style="width:70%">
      <col style="width:20%">
      <tr>
        <td>
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria">
        </td>
        <td>
          <h3>PRODUKT 1</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eum maiores aliquid non. Ad eveniet fugit cupiditate ipsum repellat cum, ullam quisquam esse in magnam laudantium, explicabo impedit doloribus id?</p>
        </td>
        <td>
          <h4>100 zł</h4>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria">
        </td>
        <td>
          <h3>PRODUKT 2</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eum maiores aliquid non. Ad eveniet fugit cupiditate ipsum repellat cum, ullam quisquam esse in magnam laudantium, explicabo impedit doloribus id?</p>
        </td>
        <td>
          <h4>150 zł</h4>
        </td>
      </tr>
      <tr>
        <td>
          <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria">
        </td>
        <td>
          <h3>PRODUKT 3</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro eum maiores aliquid non. Ad eveniet fugit cupiditate ipsum repellat cum, ullam quisquam esse in magnam laudantium, explicabo impedit doloribus id?</p>
        </td>
        <td>
          <h4>99 zł</h4>
        </td>
      </tr>
    </table>


  </div>


</body>
