<div class="container page page_solid">
  <div class="search_bar">
    <h1>Poczuj bliskość natury!</h1>
    <hr>
    <form>
      <input type="search" id="query" class="query" name="q" placeholder="Szukaj...">
      <button>Szukaj</button>
    </form>
  </div>

  <div class="categories_text">
    <h2>Kategorie</h2>
    <p>dziaba dziaba mądre rzeczy dziaba dziaba</p>
  </div>


  <div class="wrapper">
    <div class="container">
      <img src="assets/products/bimber_miodowy.jpg" alt="zdjecie_kategoria" class="image">
      <div class="overlay" [ngClass]="{'selected': selected===0}" (click)="selectCategory(0)">
        <div class="text"><b>WSZYSTKO</b></div>
      </div>
      <p>WSZYSTKO</p>
    </div>

    <div class="container">
      <img src="assets/products/bimber_owocowy_1.jpg" alt="zdjecie_kategoria" class="image">
      <div class="overlay" [ngClass]="{'selected': selected===1}" (click)="selectCategory(1)">
        <div class="text"><b>ALKOHOL</b></div>
      </div>
      <p>ALKOHOL</p>
    </div>
    <div class="container">
      <img src="assets/products/bimber_0procent_3.jpg" alt="zdjecie_kategoria" class="image">
      <div class="overlay" [ngClass]="{'selected': selected===2}" (click)="selectCategory(2)">
        <div class="text"><b>ALKOHOL 0%</b></div>
      </div>
      <p>ALKOHOL 0%</p>
    </div>
    <div class="container">
      <img src="assets/products/akcesoria.jpg" alt="zdjecie_kategoria" class="image">
      <div class="overlay" [ngClass]="{'selected': selected===3}" (click)="selectCategory(3)">
        <div class="text"><b>AKCESORIA</b></div>
      </div>
      <p>AKCESORIA</p>
    </div>
    <div class="container">
      <img src="assets/products/zestawy_prezentowe.jpg" alt="zdjecie_kategoria" class="image">
      <div class="overlay" [ngClass]="{'selected': selected===4}" (click)="selectCategory(4)">
        <div class="text"><b>ZESTAWY PREZENTOWE</b></div>
      </div>
      <p>ZESTAWY PREZENTOWE</p>
    </div>
  </div>





  <div>
    <div class="list" >
      <app-product-list [selected]="selected"></app-product-list>
    </div>
  </div>


</div>
