

.search_bar{
  text-align: center;
  color: var(--main-color);
  padding-top: 100px;
  padding-bottom: 50px;
}
.query{
  width: 300px;
}


hr {
  width:30%;
  margin:0 auto;
}

form {
  margin-top: 20px;
}

input{
  border: 2px solid var(--main-color);
  margin: 5px;
  padding: 8px;
  width: 400px;
  border-radius: 2px;
}

button{
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  margin: 5px;
  padding: 8px 30px;
  border-radius: 2px;
  color: white;
}


.categories_text{
  font-weight: normal;
  color: var(--main-color);
  text-align: center;
  margin: 100px 0px;
}



.wrapper {
  display: grid;
  text-align: center;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: repeat(2, 200px);

}

.wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid var(--main-color);
}


.container {
  position: relative;
  width: 100%;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  margin: 0px 10px;
  background-color: var(--main-color);
}

.container .overlay:hover {
  opacity: 0.9;
}

.selected{
  opacity: 1;
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



/* on Mobile */
@media only screen and (max-width: 600px) {
  .query{
    width: 80%;
  }

}
