<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
	<hr class ="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
	<ul class="d-flex justify-content-center">
    <li ><b><a [routerLink]="['/products-view']">Przeglądaj</a></b></li>
    <li style="border-right: none;"><a [routerLink]="['/products-view-add']">Dodaj</a></li>
  </ul>
	<hr class ="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>

	<div class="panel" style="margin-top: 150px;">
  <div class="products">

    <div class="product d-flex justify-content-between" *ngFor="let produkt of produkty; index as i">
      <div class="d-flex justify-content-start">
        <img src={{produkt.zdjecie}}>
        <div class="data">
          <div class="name">{{produkt.nazwa}}</div>
          <div class="description">{{produkt.opis}}</div>
          <div class="ingredients">smaki: o tu tu z bazki trzeba jakoś wyjąć</div>
          <div class="price">{{produkt.cena}} zł/l</div>
          <div class="quantity">tu jest iliśc wut czy co?????/ 102 l</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/products-view-modify']">Modyfikuj</a>
        <a href="">Usuń ze sprzedaży</a>
      </div>
    </div>
</div>
