:root {
  --main-color: #4c7a34;
  --primary-color: #355723;
  --secondary-color: #243e16;
}

body {
  background-image: url('/assets/foggy-pine-forest-background-vector.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #0366d6;
}

.page {
  padding-top: 60px;
  padding-bottom: 60px;
}

.page_solid {
  background: white;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.text-main{
  color: var(--main-color);
}

.custom-button{
  background-color: var(--main-color);
  border:0;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
}
.custom-button:hover{
  background-color: var(--primary-color);
  color: white;
  box-shadow: none;
}
.custom-button:active {
  background-color: var(--secondary-color);
  box-shadow: none;
}

.horisontal:after { clear:both; content:"."; display:block; height:0; visibility:hidden; }

@font-face {
  font-family: 'fontello';
  src: url('assets/font/fontello.eot?26956688');
  src: url('assets/font/fontello.eot?26956688#iefix') format('embedded-opentype'),
       url('assets/font/fontello.woff2?26956688') format('woff2'),
       url('assets/font/fontello.woff?26956688') format('woff'),
       url('assets/font/fontello.ttf?26956688') format('truetype'),
       url('assets/font/fontello.svg?26956688#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-dir:before { content: '\e800'; } /* '' */
.icon-up-dir:before { content: '\e801'; } /* '' */
.icon-cart:before { content: '\e802'; } /* '' */

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}


/*          STYLE ADMINA                 */




.secondary_menu{
	position: -webkit-sticky;
	position: sticky;
	top: 85px;
	background: white;
	padding-bottom: 5px;
}

.secondary_menu ul{
	padding: 5px;
	list-style: none;
}

.secondary_menu ul li{
	float: left;
	border-right: 2px solid #aaa;
	padding: 0 20px 0 20px;
}

.secondary_menu ul li a{
	color: inherit;
	text-decoration: none;
}

.secondary_menu ul li:hover{
	background-color: #ccc;
	border-radius: 10px;
}

.panel .statistics table{
	font-size: 40px;
	position: absolute;
	bottom: 45px;
	left: 20px;
	color: white;
}

.panel .statistics table tr th{
	padding: 5px;
}

.panel .people{
	padding: 50px 300px 50px 300px;
}

.panel .people .person{
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}

.panel .people .person img{
	margin-left: 30px;
	margin-right: 20px;
	max-height: 150px;
	border-radius: 10px;
}

.panel .people .person .data .name{
	font-size: 30px;
	padding-bottom: 55px;
	padding-top: 5px;
}

.panel .people .person .data .position{
	font-size: 15px;
}

.panel .people .person .data .workplace{
	font-size: 15px;
}

.panel .people .person .buttons{
	padding-right: 20px;
	display: flex;
	flex-direction: column;
}

.panel .people .person .buttons a{
	border: 2px #ddd solid;
	border-radius: 10px;
	margin: 5px;
	padding: 0px 10px 0px 10px;
	text-align: right;
	color: inherit;
	text-decoration: none;
}

.panel .people .person .buttons a:hover{
	background-color: #ccc;
}

.panel .files{
	padding: 50px 300px 50px 300px;
}

.panel .files .file{
	margin: 10px;
	padding: 15px;
	background-color: white;
	border-radius: 10px;
}

.panel .files .file img{
	padding-left: 30px;
	padding-right: 20px;
	max-height: 150px;
}

.panel .files .file .data .name{
	font-size: 30px;
	padding-top: 5px;
	padding-right: 10px;
}

.panel .files .file .data .date{
	font-size: 15px;
	padding-top: 20px;
}

.panel .files .file .data .chkbxs{
	font-size: 15px;
}

.panel .files .file .data .chkbxs .chkbx{
	height: 30px;
	width: 30px;
}

.panel .files .file .buttons{
	padding-right: 20px;
	display: flex;
	flex-direction: column;
}

.panel .files .file .buttons a{
	border: 2px #ddd solid;
	border-radius: 10px;
	margin: 5px;
	padding: 0px 10px 0px 10px;
	text-align: right;
	color: inherit;
	text-decoration: none;
}

.panel .files .file .buttons a:hover{
	background-color: #ccc;
}

.panel .separator{
	height: 50px;
}

.panel .forms{
	margin: 50px 300px 50px 300px;
	background-color: white;
	border-radius: 10px;
}

.panel .forms .form-group{
	padding: 20px 15px 20px 15px;
}

.panel .forms .form-select{
	margin: 20px 200px 20px 200px;
}

.panel .forms .group{
	display: flex;
	justify-content: space-evenly;
}

.panel .forms .button{
	color: gray;
}

.panel .products{
	padding: 50px 300px 50px 300px;
}

.panel .products .product{
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}

.panel .products .product img{
	margin-left: 30px;
	margin-right: 20px;
	max-height: 150px;
	border-radius: 10px;
}

.panel .products .product .data .name{
	font-size: 30px;
	padding-bottom: 30px;
	padding-top: 5px;
}

.panel .products .product .data .ingredients{
	font-size: 15px;
}

.panel .products .product .data .price{
	font-size: 15px;
}

.panel .products .product .data .quantity{
	font-size: 15px;
}

.panel .products .product .buttons{
	padding-right: 20px;
	display: flex;
	flex-direction: column;
}

.panel .products .product .buttons a{
	border: 2px #ddd solid;
	border-radius: 10px;
	margin: 5px;
	padding: 0px 10px 0px 10px;
	text-align: right;
	color: inherit;
	text-decoration: none;
}

.panel .products .product .buttons a:hover{
	background-color: #ccc;
}

.panel .inbox{
	display: flex;
	justify-content: space-evenly;
}

.panel .inbox .side_panel{
	margin: 15px 0 15px 15px;
}

.panel .inbox .side_panel ul{
	list-style: none;
}

.panel .inbox .side_panel ul li{
	background-color: white;
	margin: 2px;
	padding: 5px;
	border-radius: 10px;
}

.panel .inbox .side_panel ul li a{
	color: inherit;
	text-decoration: none;
}

.panel .inbox .messages{
	width: 70%;
	margin: 15px 15px 15px 0;
}

.panel .inbox .messages .message{
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}

.panel .inbox .messages .message img{
	margin-left: 20px;
	margin-right: 20px;
	max-height: 150px;
}

.panel .inbox .messages .message a{
	border: 2px #ddd solid;
	border-radius: 10px;
	margin: 5px 0 5px 20px;
	padding: 0px 10px 0px 10px;
	text-align: right;
	color: inherit;
	text-decoration: none;
}
.panel .inbox .messages .message a:hover{
	background-color: #ccc;
}

.panel .inbox .messages .message .contents .title{
	font-size: 30px;
	padding-bottom: 10px;
	padding-top: 5px;
}

.panel .inbox .messages .message .contents .content{
	text-align: justify;
	text-justify: inter-word;
	font-size: 15px;
	padding-bottom: 5px;
}

.panel .inbox .messages .message .contents .date{
	font-size: 15px;
}

.panel .inbox .messages .message .contents .sender{
	font-size: 15px;
}

.panel .orders{
	padding: 0 300px 0 300px;
}

.panel .orders .order
{
	padding: 10px;
	margin: 15px;
	border-radius: 10px;
	background-color: white;
}
.panel .orders .order .main_info{
	margin: 0 20px 0 20px;
}
.panel .orders .order .main_info .order_id{
	padding-right: 10px;
}

.panel .orders .order .details{
	margin: 0 20px 0 20px;
	font-size: 20px;
}

.panel .orders .order .details table tr td{
	padding-right: 20px;
}

.panel .places{
	padding: 50px 300px 50px 300px;
}

.panel .places .place{
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}

.panel .places .place img{
	margin-left: 30px;
	margin-right: 20px;
	max-height: 150px;
	border-radius: 10px;
}

.panel .places .place .data .location_name{
	font-size: 30px;
	padding-bottom: 55px;
	padding-top: 5px;
}

.panel .places .place .data .location_id{
	font-size: 15px;
}

.panel .places .place .data .location_address{
	font-size: 15px;
}

.panel .places .place .buttons{
	padding-right: 20px;
	display: flex;
	flex-direction: column;
}

.panel .places .place .buttons a{
	border: 2px #ddd solid;
	border-radius: 10px;
	margin: 5px;
	padding: 0px 10px 0px 10px;
	text-align: right;
	color: inherit;
	text-decoration: none;
}

.panel .places .place .buttons a:hover{
	background-color: #ccc;
}


.panel .appliences{
	padding: 50px 300px 50px 300px;
}

.panel .appliences .applience{
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}

.panel .appliences .applience img{
	margin-left: 30px;
	margin-right: 20px;
	max-height: 150px;
	border-radius: 10px;
}

.panel .appliences .applience .data .applience_name{
	font-size: 30px;
	padding-bottom: 35px;
	padding-top: 5px;
}

.panel .appliences .applience .data .applience_id{
	font-size: 15px;
}
.panel .appliences .applience .data .applience_address_name{
	font-size: 15px;
}
.panel .appliences .applience .data .applience_address{
	font-size: 15px;
}

.panel .appliences .applience .buttons{
	padding-right: 20px;
	display: flex;
	flex-direction: column;
}

.panel .appliences .applience .buttons a{
	border: 2px #ddd solid;
	border-radius: 10px;
	margin: 5px;
	padding: 0px 10px 0px 10px;
	text-align: right;
	color: inherit;
	text-decoration: none;
}

.panel .appliences .applience .buttons a:hover{
	background-color: #ccc;
}

.panel .resources{
	padding: 50px 300px 50px 300px;
}

.panel .resources .resource{
	margin: 10px;
	padding: 10px;
	background-color: white;
	border-radius: 10px;
}
.panel .resources .resource img{
	margin-left: 30px;
	margin-right: 20px;
	max-height: 150px;
	border-radius: 10px;
}
.panel .resources .resource .data .name{
	font-size: 30px;
	padding-bottom: 35px;
	padding-top: 5px;
}
.panel .resources .resource .data .quantity{
	font-size: 15px;
}
.panel .resources .resource .data .input_date{
	font-size: 15px;
}
.footer{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer ul{
	padding: 5px 5px 0px 5px;
	list-style: none;
}

.footer ul li{
	float: left;
	border-right: 2px solid #aaa;
	padding: 0%	20px 0% 20px;
}
.footer ul li a{
	color: inherit;
	text-decoration: none;
}
