<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
  <hr class ="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
  <ul class="d-flex justify-content-center">
    <li><a [routerLink]="['/places']">Przeglądaj</a></li>
    <li><a [routerLink]="['/places-add']">Dodaj placówkę</a></li>
    <li><b><a [routerLink]="['/stuff']">Sprzęt</a></b></li>
    <li><a [routerLink]="['/stuff-add']">Dodaj sprzęt</a></li>
    <li><a [routerLink]="['/supplies']">Zaopatrzenie</a></li>
    <li style="border-right: none;"><a [routerLink]="['/supplies-add']">Dodaj zaopatrzenie</a></li>
  </ul>
  <hr class ="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>

<div class="panel" style="margin-top: 150px;">
  <div class="appliences">

    <div class="applience d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="applience_name">Sprzęt A</div>
          <div class="applience_id">ID sprzętu: g6w4576e45yte4s5f</div>
          <div class="applience_address_name">destylarnia A</div>
          <div class="applience_address">ID: 69420213742069</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/stuff-modify']">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="applience d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="applience_name">Sprzęt A</div>
          <div class="applience_id">ID sprzętu: g6w4576e45yte4s5f</div>
          <div class="applience_address_name">destylarnia A</div>
          <div class="applience_address">ID: 69420213742069</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/stuff-modify']">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="applience d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="applience_name">Sprzęt A</div>
          <div class="applience_id">ID sprzętu: g6w4576e45yte4s5f</div>
          <div class="applience_address_name">destylarnia A</div>
          <div class="applience_address">ID: 69420213742069</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/stuff-modify']">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="applience d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="applience_name">Sprzęt A</div>
          <div class="applience_id">ID sprzętu: g6w4576e45yte4s5f</div>
          <div class="applience_address_name">destylarnia A</div>
          <div class="applience_address">ID: 69420213742069</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/stuff-modify']">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>

  </div>
</div>
