<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
  <hr class="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
  <ul class="d-flex justify-content-center">
    <li><a [routerLink]="['/admin/places']">Przeglądaj</a></li>
    <li><a [routerLink]="['/admin/places-add']">Dodaj placówkę</a></li>
    <li><b><a [routerLink]="['/admin/stuff']">Sprzęt</a></b></li>
    <li><a [routerLink]="['/admin/stuff-add']">Dodaj sprzęt</a></li>
    <li><a [routerLink]="['/admin/supplies']">Zaopatrzenie</a></li>
    <li style="border-right: none;"><a [routerLink]="['/admin/supplies-add']">Dodaj zaopatrzenie</a></li>
  </ul>
  <hr class="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>

<div class="panel" style="margin-top: 150px;">
  <div class="appliences">

    <div class="applience d-flex justify-content-between" *ngFor="let stuff of stuffListed; index as i">
      <div class="d-flex justify-content-start">
        <img src={{stuff.picture}}>
        <div class="data">
          <div class="applience_name">{{stuff.nazwa}}</div>
          <div class="applience_id">ID sprzętu: {{stuff.id}}</div>
          <div class="applience_address_name">ID destylarnii: {{stuff.idDestylarni}}</div>
          <div class="applience_address">{{stuff.opis}}</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/admin/stuff-modify']">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
  </div>
</div>
