<header>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand link-active-custom no-padding" [routerLink]="['/']">
        <img src="assets/LogoLong.png" width="150px" height="50px" alt="ikona" class="image">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">O nas</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/shop']">Sklep</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contact']">Kontakt</a>
          </li>
        </ul>
        <form class="d-flex">
          <a class="nav-link no-padding" [routerLink]="['/cart']">
            <button class="btn custom-button">
              <span class="icon-cart"></span> Koszyk
            </button>
          </a>
        </form>
      </div>
    </div>
  </nav>


</header>
