<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
	<hr class ="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
	<ul class="d-flex justify-content-center">
    <li ><b><a [routerLink]="['/shop-orders']">Zamówienia</a></b></li>
    <li style="border-right: none;"><a [routerLink]="['/shop-promotions']">Promocje</a></li>
  </ul>
	<hr class ="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>

	<div class="panel" style="margin-top: 150px;">
  <div class="separator"></div>
  <div class="orders">
    <div class="order">
      <div class="main_info d-flex justify-content-between">
        <div class="d-flex justify-content-start">
          <div class="order_id">ID: 0123456789</div>
          <div class="chkbx">
            <form>
              <div>
                <input class="chkbx" type="checkbox" id="zrealizowane" name="zrealizowane" value="zrealizowane" title="ZREALIZOWANE">
                <label for="zrealizowane" style="font-size: 15px;">Zrealizowane</label>
              </div>
            </form>
          </div>
        </div>
        <div class="order_sum">123,45 zł</div>
      </div>
      <div class="details d-flex justify-content-between">
        <table>
          <tr>
            <td>- bimber A</td>
            <td>2 l</td>
            <td>49.98 zł</td>
          </tr>
          <tr>
            <td>- bimber B</td>
            <td>1 l</td>
            <td>24.99 zł</td>
          </tr>
          <tr>
            <td>- bimber C</td>
            <td>3 l</td>
            <td>74.97 zł</td>
          </tr>
        </table>
        <div class="data">
          <div class="name">J.P. Polak</div>
          <div class="client_id">2137</div>
          <div class="city">Wadowice</div>
          <div class="street">Kościelna 7</div>
        </div>
      </div>
    </div>
    <div class="order">
      <div class="main_info d-flex justify-content-between">
        <div class="order_id">ID: 0123456789</div>
        <div class="order_sum">123,45 zł</div>
      </div>
      <div class="details d-flex justify-content-between">
        <table>
          <tr>
            <td>- bimber A</td>
            <td>2 l</td>
            <td>49.98 zł</td>
          </tr>
          <tr>
            <td>- bimber B</td>
            <td>1 l</td>
            <td>24.99 zł</td>
          </tr>
          <tr>
            <td>- bimber C</td>
            <td>3 l</td>
            <td>74.97 zł</td>
          </tr>
        </table>
        <div class="data">
          <div class="name">J.P. Polak</div>
          <div class="client_id">2137</div>
          <div class="city">Wadowice</div>
          <div class="street">Kościelna 7</div>
        </div>
      </div>
    </div>
    <div class="order">
      <div class="main_info d-flex justify-content-between">
        <div class="order_id">ID: 0123456789</div>
        <div class="order_sum">123,45 zł</div>
      </div>
      <div class="details d-flex justify-content-between">
        <table>
          <tr>
            <td>- bimber A</td>
            <td>2 l</td>
            <td>49.98 zł</td>
          </tr>
          <tr>
            <td>- bimber B</td>
            <td>1 l</td>
            <td>24.99 zł</td>
          </tr>
          <tr>
            <td>- bimber C</td>
            <td>3 l</td>
            <td>74.97 zł</td>
          </tr>
        </table>
        <div class="data">
          <div class="name">J.P. Polak</div>
          <div class="client_id">2137</div>
          <div class="city">Wadowice</div>
          <div class="street">Kościelna 7</div>
        </div>
      </div>
    </div>
    <div class="order">
      <div class="main_info d-flex justify-content-between">
        <div class="order_id">ID: 0123456789</div>
        <div class="order_sum">123,45 zł</div>
      </div>
      <div class="details d-flex justify-content-between">
        <table>
          <tr>
            <td>- bimber A</td>
            <td>2 l</td>
            <td>49.98 zł</td>
          </tr>
          <tr>
            <td>- bimber B</td>
            <td>1 l</td>
            <td>24.99 zł</td>
          </tr>
          <tr>
            <td>- bimber C</td>
            <td>3 l</td>
            <td>74.97 zł</td>
          </tr>
        </table>
        <div class="data">
          <div class="name">J.P. Polak</div>
          <div class="client_id">2137</div>
          <div class="city">Wadowice</div>
          <div class="street">Kościelna 7</div>
        </div>
      </div>
    </div>
  </div>
  <div class="separator"></div>
</div>
