<div class="container page" style="padding-top: 0px;">
    <div style="margin-left: 10px;">
<h1>Kim jestesmy?</h1>
<p style="color: white;">ah, ci studenci</p>
</div>

<div class="container">
    <div class="row" style="background-color: rgba(255, 255, 255, 1); padding: 25px; border-radius: 10px; margin-bottom: 50px;">
      <div class="col-sm">
        <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image" style="position: relative; right: 10px;">
      </div>
      <div class="col-sm">
        <h2>i wtedy mialem kaca zycia</h2>
        <p >Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada dictum dolor, sed efficitur ante finibus in. Maecenas eget placerat ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
            
            Pellentesque vulputate non ipsum in porta. Donec quis efficitur dui. Suspendisse ac tortor eu turpis tincidunt volutpat ut et lorem. Duis facilisis, risus non tempus pretium, nisl velit scelerisque elit, ac bibendum quam diam eget risus. Praesent nunc lacus, volutpat nec iaculis nec, fermentum vulputate justo. Proin tincidunt interdum ullamcorper. Vivamus nec accumsan lacus. Donec id efficitur ante. Ut cursus ac quam ut dictum. </p>
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row" style="background-color: rgba(255, 255, 255, 1); padding: 25px; border-radius: 10px; margin-bottom: 50px;">
      <div class="col-sm">
        <h2>a ta nalewka to już w ogóle w pyte była...</h2>
        <p >Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada dictum dolor, sed efficitur ante finibus in. Maecenas eget placerat ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
            
            Pellentesque vulputate non ipsum in porta. Donec quis efficitur dui. Suspendisse ac tortor eu turpis tincidunt volutpat ut et lorem. Duis facilisis, risus non tempus pretium, nisl velit scelerisque elit, ac bibendum quam diam eget risus. Praesent nunc lacus, volutpat nec iaculis nec, fermentum vulputate justo. Proin tincidunt interdum ullamcorper. Vivamus nec accumsan lacus. Donec id efficitur ante. Ut cursus ac quam ut dictum. </p>
      </div>
      <div class="col-sm">
        <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
       
      </div>
    </div>
  </div>



  <div class="container">
    <div class="row" style="background-color: rgba(255, 255, 255, 1); padding: 25px; border-radius: 10px; margin-bottom: 50px;">
      <div class="col-sm">
        <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
      </div>
      <div class="col-sm">
        <h2 >czy jestem juz alkoholikiem?</h2>
        <p >Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada dictum dolor, sed efficitur ante finibus in. Maecenas eget placerat ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
            
            Pellentesque vulputate non ipsum in porta. Donec quis efficitur dui. Suspendisse ac tortor eu turpis tincidunt volutpat ut et lorem. Duis facilisis, risus non tempus pretium, nisl velit scelerisque elit, ac bibendum quam diam eget risus. Praesent nunc lacus, volutpat nec iaculis nec, fermentum vulputate justo. Proin tincidunt interdum ullamcorper. Vivamus nec accumsan lacus. Donec id efficitur ante. Ut cursus ac quam ut dictum. </p>
      </div>
    </div>
  </div>

  <dir style="margin: 100px; text-align: center; color: white;">
    <h1>  Nasze motto: Kto tyle wypije jak nie my?</h1>
  </dir>

</div>
