.panel{
	background-image: url('../../../assets/foggy-pine-forest-background-vector.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	min-height:800px;
}

.panel .statistics table{
	font-size: 40px;
	position: absolute;
	bottom: 45px;
	left: 20px;
	color: white;
}

.panel .statistics table tr th{
	padding: 5px;
}
