<body style="background-color: rgba(255, 255, 255, 0);">
<div class="header" >
  ;<img src="assets/Logo.png" alt="logo" class="display: block; width: 70%">
  <h1 style="color: white;">Poczuj bliskość natury!</h1>
  <hr>
    <button class="button">Sklep</button>
</div>

<div class="hpp">
  <div style="margin-bottom: 40px;">
    <h2 >Polecane produkty</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm hpi">
      
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
    </div>
    <div class="col-sm hpi">
      
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
    </div>
  </div>
</div>
</div>
<img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image hpi" >

<div class="container">
  <div class="row">
    <div class="col-sm-4 panel">
      <div class="panel">
      <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image"> -->
    </div>
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
    </div>
    <div class="col-sm test">
      <div class="container">
        <div class="columns">
          <div class="col-sm test panel" style="vertical-align: middle;">
            <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image3">
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
          </div>
          <div class="col-sm test panel" style="vertical-align: middle;margin: 20px;">
            <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image3">
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm test">
      <div class="container">
        <div class="columns">
          <div class="col-sm test panel">
            <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image3">
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
          </div>
          <div class="col-sm test panel">
            <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image3">
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
