:root {
    --main-color: #4c7a34;
    --primary-color: #355723;
    --secondary-color: #243e16;
    --accent-color: #e5dab6;
  }

  .header{
    text-align: center;
    color: var(--main-color);

    margin-left: auto;
    margin-right: auto;
    
  }

  .headerImage{
    display: block; 
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 500px;
  }
  .center{
    margin-left: auto;
    margin-right: auto;
  }

  .home_panel{
    background-color: rgb(255, 255, 255);
    margin: 2px;
  }
  .panelImage{
    display: block;
    width: 90%;
    object-fit: cover;
    object-position: 50% 25%; 
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--main-color);
  }
  .panelImageBig{
    display: block;
    max-width: 350px;
    width: 90%;
    height: 500px;
    object-fit: cover;
    object-position: 50% 25%; 
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--main-color);
  }
  .panelImageSmall{
    display: block;
    width: 90%; 
    object-fit: cover;
    object-position: 50% 25%; 
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--main-color);
  }

  .hpp{
    background-color: #ffffff;
    text-align: center;
    padding: 40px;
    color: var(--main-color);
  }

  .hpi{
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    display: block;
    width: 100%;
    height: 40%;
    border: 2px solid var(--main-color);
  }

  .image2{
    display: block;
    width: 40%;
    height: 40%;

    border: 2px solid var(--main-color);
  }

  .image3{
    display: block;
    margin: 20px;
    width: 50%;

    size: 20%;


    border: 2px solid var(--main-color);
  }
  .image4{
    display: block;

    height: 60vh;

    border: 2px solid var(--main-color);
  }

.undertext{
    text-align: center;
    color: var(--main-color);
    margin:2px;
}


  hr {
    width:30%;
    margin:0 auto;
    color: var(--secondary-color);
    opacity: 100%;
  }
  .button {
    background-color: var(--primary-color);;
    border: none;
    color: white;
    padding: 15px 50px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .test{
    border: 1px solid white;
  }
