<body>
<div class="header">
  <h1>Poczuj bliskość natury!</h1>
  <hr>
    <button class="button">Sklep</button>
</div>

<div class="hpp">
  <h2>Polecane produkty</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
    </div>
    <div class="col-sm">
      <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image">
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm test">
      <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image4">
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
    </div>
    <div class="col-sm test">
      <div class="container">
        <div class="columns">
          <div class="col-sm test">
            <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image3">
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
          </div>
          <div class="col-sm test">
            <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image3">
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm test">
      <div class="container">
        <div class="columns">
          <div class="col-sm test">
            <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image3">
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
          </div>
          <div class="col-sm test">
            <img src="assets/zdjecie_brak_pionowe.jpg" alt="zdjecie_kategoria" class="image3">
      <p class="undertext">Bimberek Sosnowy</p>
      <p class="undertext">45zl</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
