<div class="container">
  <div class="user_hello" style="background-color: rgba(255, 255, 255, 1); padding: 25px; border-radius: 10px; margin-bottom: 50px;">

    <div class="user_info">
      <h2>Cześć Kamadella!</h2>
      <p>jestem@super.com</p>
    </div>

    <div class="user_img">
      <img src="assets/Logo.png" alt="zdjecie_kategoria" width="120em" height="120em"  >
    </div>
  </div>
</div>

<div class="container">
  <div class="user_shopping" style="background-color: rgba(255, 255, 255, 1); padding: 25px; border-radius: 10px; margin-bottom: 50px;">

    <h3>Historia zakupów</h3>
    <br>

    <div class="user_shopping_list">
      <p>5 lut 2023, 19:48</p>
      <div>
        <table class="table">
          <tbody>
          <tr class="product_list" >
            <td>
              <img src="assets/products/Alcohol_(122).png"  alt="zdjecie_kategoria" width="60em" height="60em" >
            </td>
            <td class="content">
              <p>Bimberek różany</p>
            </td>
            <td>
              <p>2x 1111 zł</p>
            </td>
            <td>
              <p>2222 zł</p>
            </td>
          </tr>
          <tr class="product_list" >
            <td>
              <img src="assets/products/Alcohol_(122).png"  alt="zdjecie_kategoria" width="60em" height="60em" >
            </td>
            <td class="content">
              <p>Bimberek różany</p>
            </td>
            <td>
              <p>2x 1111 zł</p>
            </td>
            <td>
              <p>2222 zł</p>
            </td>
          </tr>
          <tr class="product_list" >
            <td>
              <img src="assets/products/Alcohol_(122).png"  alt="zdjecie_kategoria" width="60em" height="60em" >
            </td>
            <td class="content">
              <p>Bimberek różany</p>
            </td>
            <td>
              <p>2x 1111 zł</p>
            </td>
            <td>
              <p>2222 zł</p>
            </td>
          </tr>
        </tbody>
        </table>
      </div>

      <div style="text-align: right; ">
        <h6>SUMA: 6666 zł</h6>
      </div>
    </div>

    <br>

    <div class="user_shopping_list">
      <p>5 lut 2023, 19:48</p>
      <div>
        <table class="table">
          <tbody>
          <tr class="product_list" >
            <td>
              <img src="assets/products/Alcohol_(156).png"  alt="zdjecie_kategoria" width="60em" height="60em" >
            </td>
            <td class="content">
              <p>Bimberek różany</p>
            </td>
            <td>
              <p>2x 1111 zł</p>
            </td>
            <td>
              <p>2222 zł</p>
            </td>
          </tr>
          <tr class="product_list" >
            <td>
              <img src="assets/products/Alcohol_(123).png"  alt="zdjecie_kategoria" width="60em" height="60em" >
            </td>
            <td class="content">
              <p>Bimberek superancki</p>
            </td>
            <td>
              <p>2x 1111 zł</p>
            </td>
            <td>
              <p>2222 zł</p>
            </td>
          </tr>
        </tbody>
        </table>
      </div>

      <div style="text-align: right; ">
        <h6>SUMA: 6666 zł</h6>
      </div>
    </div>

    <br>
    <div style="text-align: center;">
      <button>CAŁA HISTORIA</button>
    </div>
  </div>
</div>

<div class="container">
  <div class="user_settings" style="background-color: rgba(255, 255, 255, 1); padding: 25px; border-radius: 10px; margin-bottom: 50px;">

    <h3>Dane Konta</h3>
    <br>
    <p>IMIĘ I NAZWISKO: <b>Kamila Adamska </b>  <a [routerLink]="['/USER']">ZMIEŃ</a> </p>
    <p>E-MAIL: <b>jestem@super.com </b>  <a [routerLink]="['/USER']">ZMIEŃ</a></p>
    <p>TELEFON KOMÓRKOWY: <b> + 48 888 333 223 </b>  <a [routerLink]="['/USER']">ZMIEŃ</a></p>
    <p>TWÓJ ADRES: <b>Szpitalna 21, 37-060 Choroszcz </b>  <a [routerLink]="['/USER']">ZMIEŃ</a></p>
    <br>
    <p>LOGIN: <b>Kamadella </b>  <a [routerLink]="['/USER']">ZMIEŃ</a></p>
    <p>HASŁO: <b>*********** </b>  <a [routerLink]="['/USER']">ZMIEŃ</a></p>

  </div>
</div>




<div class="container">
  <div class="user_code" style="background-color: rgba(255, 255, 255, 1); padding: 25px; border-radius: 10px; margin-bottom: 50px;">

    <h3>Kod referencyjny</h3>
    <br>


    <div style="margin-bottom: 20px;">
      <b> Twój kod referencyjny: </b>

      <a [routerLink]="['/USER']"> lubieSlodkiePieskie830838</a>
    </div>

    <button>Wygeneruj nowy kod</button>




  </div>
</div>
