<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
  <hr class ="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
  <ul class="d-flex justify-content-center">
    <li><b><a [routerLink]="['/workers-account']">Konta</a></b></li>
    <li><a [routerLink]="['/workers-schedule']">Harmonogramy</a></li>
    <li style="border-right: none;"><a [routerLink]="['/workers-received']">Wiadomości</a></li>
  </ul>
  <hr class ="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>

<div class="panel" style="margin-top: 150px;">
  <div class="people">

    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="name">Kacper Bochan</div>
          <div class="position">kierownik przerzucania gnoju</div>
          <div class="workplace">obora u Wieśka</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/workers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="name">Kacper Bochan</div>
          <div class="position">kierownik przerzucania gnoju</div>
          <div class="workplace">obora u Wieśka</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/workers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="name">Kacper Bochan</div>
          <div class="position">zawodowy menel</div>
          <div class="workplace">obora u Wieśka</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/workers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="name">Kacper Bochan</div>
          <div class="position">kierownik przerzucania gnoju</div>
          <div class="workplace">obora u Wieśka</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/workers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="name">Kacper Bochan</div>
          <div class="position">kierownik przerzucania gnoju</div>
          <div class="workplace">obora u Wieśka</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/workers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="name">Kacper Bochan</div>
          <div class="position">kierownik przerzucania gnoju</div>
          <div class="workplace">obora u Wieśka</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/workers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="name">Kacper Bochan</div>
          <div class="position">kierownik przerzucania gnoju</div>
          <div class="workplace">obora u Wieśka</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/workers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>
    <div class="person d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="name">Kacper Bochan</div>
          <div class="position">kierownik przerzucania gnoju</div>
          <div class="workplace">obora u Wieśka</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/workers-modify']">Modyfikuj</a>
        <a href="">Zablokuj Konto</a>
      </div>
    </div>

  </div>
</div>
