<h3>Twój koszyk</h3>
<hr>
<form #f="ngForm">
  <div  *ngFor="let element of produkty;index as i" >
    <div class="row" *ngIf="element.ilosc>0">
      <div class="col-2">
        <img src= {{element.produkt.zdjecie}} alt="zdjecie produkt">
      </div>
      <div class="col-7" style="display: grid; grid-template-columns: repeat(auto-fill);">
        <div style="flex: 2;" class="product-title">{{element.produkt.nazwa|uppercase}}</div>
        <div style="flex: 7;">{{element.produkt.opis}}</div>
        <div style="flex: 2;">{{element.produkt.cena}} ZŁ</div>
      </div>

      <div class="col-1">
        <input type="number" min="1" [(ngModel)]="element.ilosc" name="ilosc" class="form-control">
      </div>
    </div>
  </div>
</form>
