<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
  <hr class="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
  <ul class="d-flex justify-content-center">
    <li><b><a [routerLink]="['/admin/issues']">Moje</a></b></li>
    <li><a [routerLink]="['/admin/issues-received']">Przysłane</a></li>
    <li><a [routerLink]="['/admin/issues-add']">Dodaj</a></li>
  </ul>
  <hr class="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>

<div class="panel" style="margin-top: 150px;">
  <div class="files">
    <div class="file d-flex justify-content-between" *ngFor="let issue of issues; index as i">
      <div class="d-flex justify-content-start">
        <img src={{issue.picture}}>
        <div class="data">
          <div class="d-flex justify-content-around">
            <div class="name">{{issue.nazwa}}</div>
            <div class="date">({{issue.data | date}})</div>
          </div>
          <div class="chkbxs">
            <form>
              <div>
                <input class="chkbx" type="checkbox" id="zlozony" name="zlozony" value="zlozony" title="ZŁOŻONY">
                <label for="zlozony">Złożony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="dostarczony" name="dostarczony" value="dostarczony" title="DOSTARCZONY">
                <label for="zlozony">Dostarczony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="rozpatrzony" name="rozpatrzony" value="rozpatrzony" title="ROZPATRZONY">
                <label for="zlozony">Rozpatrzony</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/issues']">Pobierz</a>
        <a [routerLink]="['/issues']">Usuń</a>
      </div>
    </div>
  </div>
</div>
