<div class="secondary_menu">
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  <ul class="d-flex justify-content-center">
    <li style="background-color: #ddd; border-radius: 10px;"><a [routerLink]="['/issues']">Moje</a></li>
    <li><a [routerLink]="['/issues-received']">Przysłane</a></li>
    <li style="border-right: none;"><a [routerLink]="['/issues-add']">Dodaj</a></li>
  </ul>
</div>
<div class="panel">
  <div class="files">

    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="d-flex justify-content-around">
            <div class="name">wniosek_01.12.2022</div>
            <div class="date">(01.12.2022)</div>
          </div>
          <div class="chkbxs">
            <form>
              <div>
                <input class="chkbx" type="checkbox" id="zlozony" name="zlozony" value="zlozony" title="ZŁOŻONY">
                <label for="zlozony">Złożony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="dostarczony" name="dostarczony" value="dostarczony" title="DOSTARCZONY">
                <label for="zlozony">Dostarczony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="rozpatrzony" name="rozpatrzony" value="rozpatrzony" title="ROZPATRZONY">
                <label for="zlozony">Rozpatrzony</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Pobierz</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="d-flex justify-content-around">
            <div class="name">wniosek_01.12.2022</div>
            <div class="date">(01.12.2022)</div>
          </div>
          <div class="chkbxs">
            <form>
              <div>
                <input class="chkbx" type="checkbox" id="zlozony" name="zlozony" value="zlozony" title="ZŁOŻONY">
                <label for="zlozony">Złożony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="dostarczony" name="dostarczony" value="dostarczony" title="DOSTARCZONY">
                <label for="zlozony">Dostarczony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="rozpatrzony" name="rozpatrzony" value="rozpatrzony" title="ROZPATRZONY">
                <label for="zlozony">Rozpatrzony</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Pobierz</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="d-flex justify-content-around">
            <div class="name">wniosek_01.12.2022</div>
            <div class="date">(01.12.2022)</div>
          </div>
          <div class="chkbxs">
            <form>
              <div>
                <input class="chkbx" type="checkbox" id="zlozony" name="zlozony" value="zlozony" title="ZŁOŻONY">
                <label for="zlozony">Złożony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="dostarczony" name="dostarczony" value="dostarczony" title="DOSTARCZONY">
                <label for="zlozony">Dostarczony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="rozpatrzony" name="rozpatrzony" value="rozpatrzony" title="ROZPATRZONY">
                <label for="zlozony">Rozpatrzony</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Pobierz</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="d-flex justify-content-around">
            <div class="name">wniosek_01.12.2022</div>
            <div class="date">(01.12.2022)</div>
          </div>
          <div class="chkbxs">
            <form>
              <div>
                <input class="chkbx" type="checkbox" id="zlozony" name="zlozony" value="zlozony" title="ZŁOŻONY">
                <label for="zlozony">Złożony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="dostarczony" name="dostarczony" value="dostarczony" title="DOSTARCZONY">
                <label for="zlozony">Dostarczony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="rozpatrzony" name="rozpatrzony" value="rozpatrzony" title="ROZPATRZONY">
                <label for="zlozony">Rozpatrzony</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Pobierz</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="d-flex justify-content-around">
            <div class="name">wniosek_01.12.2022</div>
            <div class="date">(01.12.2022)</div>
          </div>
          <div class="chkbxs">
            <form>
              <div>
                <input class="chkbx" type="checkbox" id="zlozony" name="zlozony" value="zlozony" title="ZŁOŻONY">
                <label for="zlozony">Złożony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="dostarczony" name="dostarczony" value="dostarczony" title="DOSTARCZONY">
                <label for="zlozony">Dostarczony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="rozpatrzony" name="rozpatrzony" value="rozpatrzony" title="ROZPATRZONY">
                <label for="zlozony">Rozpatrzony</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Pobierz</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="d-flex justify-content-around">
            <div class="name">wniosek_01.12.2022</div>
            <div class="date">(01.12.2022)</div>
          </div>
          <div class="chkbxs">
            <form>
              <div>
                <input class="chkbx" type="checkbox" id="zlozony" name="zlozony" value="zlozony" title="ZŁOŻONY">
                <label for="zlozony">Złożony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="dostarczony" name="dostarczony" value="dostarczony" title="DOSTARCZONY">
                <label for="zlozony">Dostarczony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="rozpatrzony" name="rozpatrzony" value="rozpatrzony" title="ROZPATRZONY">
                <label for="zlozony">Rozpatrzony</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Pobierz</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="d-flex justify-content-around">
            <div class="name">wniosek_01.12.2022</div>
            <div class="date">(01.12.2022)</div>
          </div>
          <div class="chkbxs">
            <form>
              <div>
                <input class="chkbx" type="checkbox" id="zlozony" name="zlozony" value="zlozony" title="ZŁOŻONY">
                <label for="zlozony">Złożony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="dostarczony" name="dostarczony" value="dostarczony" title="DOSTARCZONY">
                <label for="zlozony">Dostarczony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="rozpatrzony" name="rozpatrzony" value="rozpatrzony" title="ROZPATRZONY">
                <label for="zlozony">Rozpatrzony</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Pobierz</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data">
          <div class="d-flex justify-content-around">
            <div class="name">wniosek_01.12.2022</div>
            <div class="date">(01.12.2022)</div>
          </div>
          <div class="chkbxs">
            <form>
              <div>
                <input class="chkbx" type="checkbox" id="zlozony" name="zlozony" value="zlozony" title="ZŁOŻONY">
                <label for="zlozony">Złożony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="dostarczony" name="dostarczony" value="dostarczony" title="DOSTARCZONY">
                <label for="zlozony">Dostarczony</label>
              </div>
              <div>
                <input class="chkbx" type="checkbox" id="rozpatrzony" name="rozpatrzony" value="rozpatrzony" title="ROZPATRZONY">
                <label for="zlozony">Rozpatrzony</label>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Pobierz</a>
        <a href="">Usuń</a>
      </div>
    </div>

  </div>
</div>
