.form-control{
  border-color: var(--main-color);
}
.form-group{
  padding-bottom: 0.5rem;
}
.separator{
  margin-right: 1rem;
}
.delivery-option{
  padding: 1rem;
  width: 48%;
  border: 1px solid;
  border-color: var(--main-color);
  float: left;
}
.radio-part{
  float: left;
}
.radio-circle{
  width: 3rem;
  padding:1rem;
}
.radio-text{
  padding-left:1rem;
}
.delivery-section::after,.delivery-option::after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.form{
  width: 100%;
}

.continue{
    width: 182px;
    height: 41px;
    background: #355723;
    color: #ffffff;
    font-size: 18px;
    margin-left: 6rem;

}

.cancel{
	width: 182px;
	height: 41px;
	background: #ebebeb;
	color: #355723;
	font-size: 18px;
  margin-left: 5rem;
}
