<div class="secondary_menu">
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  <ul class="d-flex justify-content-center">
    <li><a [routerLink]="['/issues']">Moje</a></li>
    <li style="background-color: #ddd; border-radius: 10px;"><a [routerLink]="['/issues-received']">Przysłane</a></li>
    <li style="border-right: none;"><a [routerLink]="['/issues-add']">Dodaj</a></li>
  </ul>
</div>
<div class="panel">
  <div class="files">

    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data d-flex justify-content-around">
          <div class="name">wniosek_01.12.2022</div>
          <div class="date">(01.12.2022)</div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Przyjmij</a>
        <a href="">Odrzuć</a>
        <a href="">Pobierz</a>
      </div>
    </div>
    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data d-flex justify-content-around">
          <div class="name">wniosek_01.12.2022</div>
          <div class="date">(01.12.2022)</div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Przyjmij</a>
        <a href="">Odrzuć</a>
        <a href="">Pobierz</a>
      </div>
    </div>
    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data d-flex justify-content-around">
          <div class="name">wniosek_01.12.2022</div>
          <div class="date">(01.12.2022)</div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Przyjmij</a>
        <a href="">Odrzuć</a>
        <a href="">Pobierz</a>
      </div>
    </div>

  </div>
</div>
