<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
	<hr class ="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
  <ul class="d-flex justify-content-center">
    <li><a [routerLink]="['/issues']">Moje</a></li>
    <li><b><a [routerLink]="['/issues-received']">Przysłane</a></b></li>
    <li><a [routerLink]="['/issues-add']">Dodaj</a></li>
	</ul>
	<hr class ="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>

<div class="panel" style="margin-top: 150px;">
  <div class="files">

    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data d-flex justify-content-around">
          <div class="name">wniosek_01.12.2022</div>
          <div class="date">(01.12.2022)</div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Przyjmij</a>
        <a href="">Odrzuć</a>
        <a href="">Pobierz</a>
      </div>
    </div>
    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data d-flex justify-content-around">
          <div class="name">wniosek_01.12.2022</div>
          <div class="date">(01.12.2022)</div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Przyjmij</a>
        <a href="">Odrzuć</a>
        <a href="">Pobierz</a>
      </div>
    </div>
    <div class="file d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../../../assets/zdjecie_brak_pionowe.jpg">
        <div class="data d-flex justify-content-around">
          <div class="name">wniosek_01.12.2022</div>
          <div class="date">(01.12.2022)</div>
        </div>
      </div>
      <div class="buttons">
        <a href="">Przyjmij</a>
        <a href="">Odrzuć</a>
        <a href="">Pobierz</a>
      </div>
    </div>

  </div>
</div>
