<table class="table">
  <col style="width:20%">
  <col style="width:60%">
  <col style="width:20%">
  <tbody>
  <tr *ngFor="let produkt of produktyListed;index as i" [routerLink]="['/product/'+produkt.id]" class="product_list" >
    <td>
      <img src= {{produkt.zdjecie}} alt="zdjecie_kategoria">
    </td>
    <td class="content">
      <h3>{{produkt.nazwa}}</h3>
      <p>{{produkt.opis}}</p>
    </td>
    <td>
      <h4>{{produkt.cena}} zł</h4>
      <app-star-system  class="hidden-mobile" [score]="produkt.ocena"></app-star-system>
    </td>
  </tr>
</tbody>
</table>
