<div class="secondary_menu">
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  <ul class="d-flex justify-content-center">
    <li style="background-color: #ddd; border-radius: 10px;"><a href="przegladaj.html">Przeglądaj</a></li>
    <li><a [routerLink]="['/places-add']">Dodaj placówkę</a></li>
    <li><a [routerLink]="['/stuff']">Sprzęt</a></li>
    <li><a [routerLink]="['/stuff-add']">Dodaj sprzęt</a></li>
    <li><a [routerLink]="['/supplies']">Zaopatrzenie</a></li>
    <li style="border-right: none;"><a [routerLink]="['/supplies-add']">Dodaj zaopatrzenie</a></li>
  </ul>
</div>
<div class="panel">
  <div class="places">

    <div class="place d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/67347.png">
        <div class="data">
          <div class="location_name">Destylarnia A</div>
          <div class="location_id">ID: 69420213742069</div>
          <div class="location_address">69.696969N 69.696969E</div>
        </div>
      </div>
      <div class="buttons">
        <a href="../placowki/modyfikacja.html">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="place d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/67347.png">
        <div class="data">
          <div class="location_name">Destylarnia A</div>
          <div class="location_id">ID: 69420213742069</div>
          <div class="location_address">69.696969N 69.696969E</div>
        </div>
      </div>
      <div class="buttons">
        <a href="../placowki/modyfikacja.html">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="place d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/67347.png">
        <div class="data">
          <div class="location_name">Destylarnia A</div>
          <div class="location_id">ID: 69420213742069</div>
          <div class="location_address">69.696969N 69.696969E</div>
        </div>
      </div>
      <div class="buttons">
        <a href="../placowki/modyfikacja.html">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="place d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/67347.png">
        <div class="data">
          <div class="location_name">Destylarnia A</div>
          <div class="location_id">ID: 69420213742069</div>
          <div class="location_address">69.696969N 69.696969E</div>
        </div>
      </div>
      <div class="buttons">
        <a href="../placowki/modyfikacja.html">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="place d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/67347.png">
        <div class="data">
          <div class="location_name">Destylarnia A</div>
          <div class="location_id">ID: 69420213742069</div>
          <div class="location_address">69.696969N 69.696969E</div>
        </div>
      </div>
      <div class="buttons">
        <a href="../placowki/modyfikacja.html">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="place d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/67347.png">
        <div class="data">
          <div class="location_name">Destylarnia A</div>
          <div class="location_id">ID: 69420213742069</div>
          <div class="location_address">69.696969N 69.696969E</div>
        </div>
      </div>
      <div class="buttons">
        <a href="../placowki/modyfikacja.html">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="place d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/67347.png">
        <div class="data">
          <div class="location_name">Destylarnia A</div>
          <div class="location_id">ID: 69420213742069</div>
          <div class="location_address">69.696969N 69.696969E</div>
        </div>
      </div>
      <div class="buttons">
        <a href="../placowki/modyfikacja.html">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="place d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/67347.png">
        <div class="data">
          <div class="location_name">Destylarnia A</div>
          <div class="location_id">ID: 69420213742069</div>
          <div class="location_address">69.696969N 69.696969E</div>
        </div>
      </div>
      <div class="buttons">
        <a href="../placowki/modyfikacja.html">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>
    <div class="place d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <img src="../assets/67347.png">
        <div class="data">
          <div class="location_name">Destylarnia A</div>
          <div class="location_id">ID: 69420213742069</div>
          <div class="location_address">69.696969N 69.696969E</div>
        </div>
      </div>
      <div class="buttons">
        <a href="../placowki/modyfikacja.html">Modyfikuj</a>
        <a href="">Usuń</a>
      </div>
    </div>

  </div>
</div>
