<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
  <hr class="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
  <ul class="d-flex justify-content-center">
    <li><b><a [routerLink]="['/admin/places']">Przeglądaj</a></b></li>
    <li><a [routerLink]="['/admin/places-add']">Dodaj placówkę</a></li>
    <li><a [routerLink]="['/admin/stuff']">Sprzęt</a></li>
    <li><a [routerLink]="['/admin/stuff-add']">Dodaj sprzęt</a></li>
    <li><a [routerLink]="['/admin/supplies']">Zaopatrzenie</a></li>
    <li style="border-right: none;"><a [routerLink]="['/admin/supplies-add']">Dodaj zaopatrzenie</a></li>
  </ul>
  <hr class="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>

<div class="panel" style="margin-top: 150px;">
  <div class="places">
    <div class="place d-flex justify-content-between" *ngFor="let place of places; index as i">
      <div class="d-flex justify-content-start">
        <img src={{place.picture}}>
        <div class="data">
          <div class="location_name">{{place.nazwa}}</div>
          <div class="location_id">ID: {{place.id}}</div>
          <div class="location_address">{{place.adres}}</div>
        </div>
      </div>
      <div class="buttons">
        <a [routerLink]="['/admin/places-modify']">Modyfikuj</a>
        <a [routerLink]="['/admin/places']">Usuń</a>
      </div>
    </div>
  </div>
</div>
