<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
  <hr class ="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
  <ul class="d-flex justify-content-center">
    <li><a [routerLink]="['/admin/places']">Przeglądaj</a></li>
    <li><a [routerLink]="['/admin/places-add']">Dodaj placówkę</a></li>
    <li><b><a [routerLink]="['/admin/stuff']">Sprzęt</a></b></li>
    <li><a [routerLink]="['/admin/stuff-add']">Dodaj sprzęt</a></li>
    <li><a [routerLink]="['/admin/supplies']">Zaopatrzenie</a></li>
    <li style="border-right: none;"><a [routerLink]="['/admin/supplies-add']">Dodaj zaopatrzenie</a></li>
  </ul>
  <hr class ="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>

<div class="panel" style="margin-top: 150px;">

  <div class="separator"> </div>
  <div class="forms">
    <form>
        <div class="form-group">
          <label for="picture">Zdjęcie:</label>
          <input type="file" class="form-control-file" id="picture">
        </div>
        <div class="form-group">
          <label for="applience_name">Nazwa:</label>
          <input type="text" class="form-control" id="applience_name" value="Destylarnia A">
        </div>
        <div class="form-group">
          <label for="applience_id">ID sprzętu:</label>
          <input type="text" class="form-control" id="applience_id" value="g6w4576e45yte4s5f">
        </div>
        <div class="form-group">
          <label for="applience_address">ID adresu:</label>
          <input type="text" class="form-control" id="applience_address" value="69420213742069">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-dark">Wprowadź zmiany</button>
        </div>
    </form>
  </div>
  <div class="separator"> </div>

</div>
