<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted ">

  <hr class="hrNav" />
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-4">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <a class="navbar-brand link-active-custom no-padding" [routerLink]="['/']">
            <img src="assets/LogoLong.png" width="300px" height="100px" alt="ikona" class="image">
          </a>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 tekst">
            Strona
          </h6>
          <p [routerLinkActive]="['link-active-custom']">
            <a class="text-reset" [routerLink]="['/about']">
              O nas
            </a>
          </p>
          <p  [routerLinkActive]="['link-active-custom']">
            <a class="text-reset" [routerLink]="['/shop']">
              Sklep
            </a>
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 tekst">
            Szefostwo
          </h6>
          <p [routerLinkActive]="['link-active-custom']">
            <a class="text-reset" [routerLink]="['/admin']">
              Admin
            </a>
          </p>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 tekst">Kontakt</h6>
          <p>
            <i class="fas fa-envelope me-3"></i>
            student@geniusz.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
  <hr class="hrNav" />
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/">StudentDebil.pl</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
