<div class="secondary_menu">
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  <ul class="d-flex justify-content-center">
    <li><a [routerLink]="['/products-view']">Przeglądaj</a></li>
    <li style="background-color: #ddd; border-radius: 10px;"><a [routerLink]="['/products-view-add']">Dodaj</a></li>
  </ul>
</div>
<div class="panel">
  <div class="separator"> </div>
  <div class="forms">
    <form>
        <div class="form-group">
          <label for="picture">Zdjęcie:</label>
          <input type="file" class="form-control-file" id="picture">
        </div>
        <div class="form-group">
          <label for="name">Nazwa:</label>
          <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
          <label for="price">Cena:</label>
          <input type="number" class="form-control" id="price">
        </div>
        <div class="form-group">
          <label for="ingredients">Składniki:</label>
          <textarea class="form-control" id="ingredients" rows="5"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-dark">Dodaj</button>
        </div>
    </form>
  </div>
</div>
