<header>
  <nav
    class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm bg-white border-bottom box-shadow"
  >
    <div class="container">
      <a class="navbar-brand link-active-custom no-padding" [routerLink]="['/']">
        <img src="assets/zdjecie_brak_pionowe.jpg" width="40px" height="40px" alt="ikona" class="image">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active-custom']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link nav-link-custom" [routerLink]="['/']">Forest Spirit</a>
          </li>
          <div class="vl">|</div>
          <li class="nav-item" [routerLinkActive]="['link-active-custom']">
            <a class="nav-link nav-link-custom" [routerLink]="['/about']">
              O nas
            </a>
          </li>
          <div class="vl">|</div>
          <li class="nav-item" [routerLinkActive]="['link-active-custom']">
            <a class="nav-link nav-link-custom" [routerLink]="['/shop']">
              Sklep
            </a>
          </li>
          <div class="vl">|</div>
          <li class="nav-item" [routerLinkActive]="['link-active-custom']">
            <a class="nav-link nav-link-custom" [routerLink]="['/counter']">
              Kontakt
            </a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active-custom']">
            <a class="nav-link no-padding" [routerLink]="['/basket']">
              <button class="btn custom-button" >
                <span class="icon-basket-1"></span> Koszyk
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
