<div >
<h3>Podsumowanie</h3>
<hr>
<div *ngFor="let element of produkty;index as i">
  <div class="row" *ngIf="element?.ilosc" style="justify-content: center;">
    <div style="flex: 1;">
      <img src= {{element.produkt.zdjecie}} alt="zdjecie produkt">
    </div>
    <div style="flex: 2;">
      <div >{{element.produkt.nazwa|uppercase}}</div>
      <div>{{element.ilosc}}x{{element.produkt.cena}} ZŁ</div>
    </div>
  </div>
</div>
<hr>
<div class="row" >
  <div class="col-6">MASZ KOD RABATOWY?</div>
  <div class="col-4 value"><span class="icon-down-dir"></span></div>
</div>
<hr>
<div class="row" >
  <div class="column" style="flex: 8;">
    PODSUMOWANIE
  </div>
  <div class="column value" style="flex: 3;">
    {{podsumowanie}} ZŁ
  </div>
</div>
<div class="row">
  <div class="column" style="flex: 8;">
    DOSTAWA
  </div>
  <div class="column value" style="flex: 3;">
    {{dostawa.cena}}&nbsp;ZŁ
  </div>
</div>
<hr>
<div class="row summary">
  <div class="column" style="flex: 8;">
    SUMA
  </div>
  <div class="column value" style="flex: 3;">
    {{suma}}&nbsp;ZŁ
  </div>
</div>
</div>

