<div class="secondary_menu" style="top: 115px; padding-bottom: 0px;">
  <hr class ="hre" style="height:2px; border: 3px solid rgb(24, 70, 38); opacity: 100%;">
  <ul class="d-flex justify-content-center">
    <li ><a [routerLink]="['/admin/workers-account']">Konta</a></li>
    <li ><b><a [routerLink]="['/admin/workers-schedule']">Harmonogramy</a></b></li>
    <li style="border-right: none;"><a [routerLink]="['/admin/workers-received']">Wiadomości</a></li>
  </ul>
  <hr class ="hre" style="height:2px; border: 1px solid rgb(24, 70, 38); opacity: 100%; margin-bottom: 0px;">
</div>
<div class="panel" style="margin-top: 150px;">

  <div class="separator"> </div>
  <div class="forms">
    <form>
      <div class="group">
        <select class="form-select" aria-label="Destylarnia">
          <option selected>Destylarnia</option>
          <option value="0001">destylarnia 1</option>
          <option value="0002">destylarnia 2</option>
          <option value="0003">destylarnia 3</option>
          <option value="0004">destylarnia 4</option>
          <option value="0005">destylarnia 5</option>
        </select>
      </div>
      <div class="group">
        <div class="form-group">
          <label for="day-from">Od:</label>
          <input type="text" class="form-control" id="day-from">
        </div>
        <div class="form-group">
          <label for="day-to">Do:</label>
          <input type="text" class="form-control" id="day-to">
        </div>
      </div>
      <hr style="height: 2px; border-width: 0; color: gray; background-color: gray;">
      <div class="group">
        <div class="form-group">
          <label for="time">Czas:</label>
          <input type="number" class="form-control" id="time">
        </div>
        <div class="form-group">
          <label for="task">Zadanie:</label>
          <input type="text" class="form-control" id="task">
        </div>
      </div>
      <div class="group">
        <div class="form-group">
          <label for="time">Czas:</label>
          <input type="number" class="form-control" id="time">
        </div>
        <div class="form-group">
          <label for="task">Zadanie:</label>
          <input type="text" class="form-control" id="task">
        </div>
      </div>
      <div class="group">
        <div class="form-group">
          <label for="time">Czas:</label>
          <input type="number" class="form-control" id="time">
        </div>
        <div class="form-group">
          <label for="task">Zadanie:</label>
          <input type="text" class="form-control" id="task">
        </div>
      </div>
      <div class="group">
        <div class="form-group">
          <label for="time">Czas:</label>
          <input type="number" class="form-control" id="time">
        </div>
        <div class="form-group">
          <label for="task">Zadanie:</label>
          <input type="text" class="form-control" id="task">
        </div>
      </div>
      <div class="group">
        <div class="form-group">
          <label for="time">Czas:</label>
          <input type="number" class="form-control" id="time">
        </div>
        <div class="form-group">
          <label for="task">Zadanie:</label>
          <input type="text" class="form-control" id="task">
        </div>
      </div>
      <hr style="height: 2px; border-width: 0; color: gray; background-color: gray;">

      <div class="group">
        <div class="form-group">
          <label for="note">Notatka:</label>
          <textarea class="form-control" id="note" rows="5"></textarea>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-dark">Dodaj</button>
      </div>
    </form>
  </div>
  <div class="separator"> </div>
</div>
