
<div class="panel">
  <div class="separator"> </div>
  <div class="timetable">
    <table>
      <tr>
        <th>15.01.2022</th>
        <th>-</th>
        <th>17.01.2022</th>
      </tr>
    </table>
    <table>
      <tr>
        <td>zadanie A</td>
        <td>10</td>
        <td> godz.</td>
      </tr>
      <tr>
        <td>zadanie B</td>
        <td>7</td>
        <td> godz.</td>
      </tr>
      <tr>
        <td>zadanie C</td>
        <td>3</td>
        <td> godz.</td>
      </tr>
      <tr>
        <td>zadanie D</td>
        <td>8</td>
        <td> godz.</td>
      </tr>
    </table>
  </div>
  <div class="separator"> </div>
</div>
