<div class="secondary_menu">
  <hr style="height:2px;border-width:0;color:gray;background-color:gray">
  <ul class="d-flex justify-content-center">
    <li style="background-color: #ddd; border-radius: 10px;"><a [routerLink]="['/workers-account']">Konta</a></li>
    <li><a [routerLink]="['/workers-schedule']">Harmonogramy</a></li>
    <li style="border-right: none;"><a [routerLink]="['/workers-received']">Wiadomości</a></li>
  </ul>
</div>
<div class="panel">

  <div class="separator"> </div>
  <div class="forms">
    <form>
        <div class="form-group">
          <label for="picture">Zdjęcie:</label>
          <input type="file" class="form-control-file" id="picture">
        </div>
        <div class="form-group">
          <label for="name">Imię:</label>
          <input type="text" class="form-control" id="name" value="Kamil">
        </div>
        <div class="form-group">
          <label for="surname">Nazwisko:</label>
          <input type="text" class="form-control" id="surname" value="Duda">
        </div>
        <div class="form-group">
          <label for="workplace">Miejsce pracy:</label>
          <input type="text" class="form-control" id="workplace" value="obora u Wieśka">
        </div>
        <div class="form-group">
          <label for="position">Stanowisko:</label>
          <input type="text" class="form-control" id="position" value="kierownik przerzucania gnoju">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-outline-dark">Wprowadź zmiany</button>
        </div>
    </form>
  </div>

</div>
